# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Electron
electron-builder.yml
dist_electron/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# OS
Thumbs.db
